/*! Шрифты */

@font-face {
    font-family: "HandelGothicTL";
    src: url("../fonts/HandelGothicTL.woff2");
}
@font-face {
    font-family: "Helvetica";
    src: url("../fonts/HelveticaRegular.woff2");
}

/*! "Обнуление" стилей */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
}
h1,
h2,
h3 {
    font-size: inherit;
    font-weight: normal;
}
ul li {
    list-style: none;
}
body, html {
    width: 100%;
    height: 100%;
    background-color: #000;
}

/*! Блок с фотографиями и инициалами*/

.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1400px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
}
.about .about__gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1000px;
    padding-top: 30px;
    position: relative;
    margin-right: 45px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 500px;
    border-left: 1px solid #494949;
}

.about .about__gallery .gallery__main-photo img {
    width: 510px;
    height: 630px;
}
.about .about__gallery .gallery__title {
    margin-bottom: 30px;
    color: #ffbf40;
    font-family: "Helvetica";
    font-size: 22px;
    text-transform: uppercase;
}
.about .about__gallery .gallery__title::before {
    content: "";
    display: block;
    height: 20px;
    background: url("../images/Vector.svg");
    background-repeat: no-repeat;
    position: relative;
    top: 26px;
    left: -120px;
}
.about .about__gallery .gallery__slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    bottom: 90px;
    left: -80px;
}
.about .about__gallery .gallery__slider .slider__container {
    margin: 0 30px;
    overflow: hidden;
}
.about
    .about__gallery
    .gallery__slider
    .slider__container
    .container__item
    .item__img {
    display: block;
    width: 160px;
    height: 160px;
}
.item__container{
    height: 160px;
    width: 160px;
}
.about .about__gallery .gallery__slider .slider__button {
    cursor: pointer;
    opacity: 0.8;
    width: 50px;
    height: 50px;
}
.about .about__gallery .gallery__slider .slider__button:hover {
    opacity: 1;
}
.about .about__gallery .gallery__slider .container__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    left: 0;
    width: 510px;
    gap: 15px;
    transition-duration: .5s;
    transition-property: left;
}
.about .about__description {
    padding-top: 120px;
    width: 700px;
    border-left: 1px solid #494949;
    border-right: 1px solid #494949;
}
.about .about__description .description__name {
    font-size: 66px;
    font-family: "HandelGothicTL";
    line-height: 60px;
    margin-bottom: 20px;
}
.about .about__description .description__job {
    color: #ffbf40;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 38px;
    font-family: "Helvetica";
    margin-bottom: 45px;
}
.about .about__description .description__info {
    font-size: 20px;
    text-transform: uppercase;
    line-height: 28px;
    font-family: "Helvetica";
}

/*! Блок с целями и достижениями*/

.plans {
    max-width: 1245px;
    margin: 0 auto;
    border-radius: 48px;
    padding: 60px;
    background-color: #fff;
    position: relative;
    top: -40px;
}
.plans .title {
    font-family: "HandelGothicTL";
    font-size: 35px;
    line-height: 35px;
    color: #000;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.plans .title_orange {
    color: #ffbf40;
}
.plans .list {
    padding-left: 22px;
}
.plans .list .list__item {
    font-family: "Helvetica";
    font-size: 18px;
    line-height: 25px;
    color: #0e0e0e;
}
.plans .plans__item:not(:last-child) {
    margin-bottom: 80px;
}
.plans .plans__slider {
    max-width: 1100px;
    overflow: hidden;
}
.plans .plans__item .slider__options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.plans .plans__item .slider__options .slider__button {
    opacity: 0.7;
    cursor: pointer;
    width: 50px;
    height: 50px;
}
.plans .plans__item .slider__options .slider__button:hover {
    opacity: 1;
}
.plans .slider__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
    position: relative;
    left: 0;
    transition-duration: .5s;
    transition-property: left;
}
.plans .plans__item .plans__slider .slider__wrapper .wrapper__img img{
    width: 550px;
    height: 390px;
}
.plans .plans__item .plans__slider .slider__wrapper .wrapper__img_small img{
    width: 320px;
    height: 390px;
}

/*! Ссылки на соц. сети*/

.links {
    padding-bottom: 30px;
}
.links .links__item {
    margin: 0 auto;
    max-width: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.links .links__item .link .link__image {
    width: 80px;
    height: 80px;
    opacity: .7;
    transition-duration: 0.2s;
    transition-property: opacity;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}
.links .links__item .link .link__image:hover {
    opacity: 1;
}

/*! Стили слайдера*/

.selected{
    border: 1px solid #ffbf40;
}
/*! Адаптив*/

/*! Для ноутбуков L*/
@media (min-width: 1024px) and (max-width: 1440px) {
    .about .about__gallery{
        width: 400px;
        height: 750px;
        margin-right: 0;
    }
    .plans{
        width: 800px;
    }
    .about .about__description{
        width: 400px;
        padding-right: 10px;
    }
    .about .about__gallery .gallery__main-photo img{
        width: 360px;
        height: 445px;
    }
    .about .about__gallery .gallery__slider{
        bottom: 80px;
        left: -45px;
    }
    .about .about__gallery .gallery__slider .slider__container .container__item .item__img{
        width: 110px;
        height: 110px;
    }
    .item__container{
        height: 110px;
        width: 110px;
    }
    .about .about__gallery .gallery__slider .container__item{
        width: 360px;
        /* position: relative;
        top: 50px; */
    }
    .about .about__gallery .gallery__slider .slider__button{
        width: 35px;
        height: 35px;
    }
    .about .about__description .description__name{
        font-size: 45px;
        line-height: 50px;
    }
    .about .about__description .description__job{
        font-size: 18px;
        margin-bottom: 10px;
    }
    .about .about__gallery .gallery__slider .slider__container{
        margin: 0 10px;
    }
    .about .about__description .description__info{
        font-size: 12px;
        line-height: 20px;
    }   
    .about .about__gallery .gallery__title{
        font-size: 18px;
    }
    .about .about__gallery .gallery__title::before{
        top: 23px;
    }
    .plans .title{
        font-size: 30px;
        margin-bottom: 20px;
    }
    .plans .list .list__item{
        font-size: 15px;
        line-height: 20px;
    }
    .plans .plans__item .plans__slider .slider__wrapper .wrapper__img img{
        width: 340px;
        height: 240px;
    }
    .plans .plans__item .plans__slider .slider__wrapper .wrapper__img_small img{
        width: 170px;
        height: 240px;
    }
    .links .links__item .link .link__image{
        width: 65px;
        height: 65px;
    }
}

/*! Для планшета и ноутбука*/

@media (min-width: 768px) and (max-width: 1023px){
    .about .about__gallery{
        width: 340px;
        height: 600px;
        margin-right: 0;
    }
    .plans{
        width: 680px;
        padding: 50px;
    }

    .about .about__description{
        width: 340px;
    }
    .about .about__gallery .gallery__main-photo img{
        width: 280px;
        height: 346px;
    }
    .about .about__gallery .gallery__slider{
        bottom: 55px;
        left: -40px;
    }
    .about .about__gallery .gallery__slider .slider__container .container__item .item__img{
        width: 90px;
        height: 90px;
    }
    .item__container{
        height: 90px;
        width: 90px;
    }
    .about .about__gallery .gallery__slider .slider__container{
        margin: 0 10px;
    }
    .about .about__gallery .gallery__slider .container__item{
        width: 280px;
        gap: 5px;
    }
    .about .about__gallery .gallery__slider .slider__button{
        width: 30px;
        height: 30px;
    }
    .about .about__description .description__name{
        font-size: 30px;
        line-height: 35px;
    }
    .about .about__description .description__job{
        font-size: 15px;
        margin-bottom: 10px;
    }
    .about .about__description .description__info{
        font-size: 10px;
        line-height: 15px;
    }   
    .about .about__gallery .gallery__title{
        font-size: 15px;
    }
    .about .about__gallery .gallery__title::before{
        top: 22px;
    }
    .plans{
        padding: 35px;
    }
    .plans .title{
        font-size: 20px;
        margin-bottom: 15px;
    }
    .plans .list{
        padding-left: 15px;
    }
    .plans .list .list__item{
        font-size: 12px;
        line-height: 20px;
    }
    .links .links__item .link .link__image{
        width: 45px;
        height: 45px;
    }
    .plans .plans__item .plans__slider .slider__wrapper .wrapper__img img{
        width: 305px;
        height: 215px;
    }
    .plans .plans__item .plans__slider .slider__wrapper .wrapper__img_small img{
        width: 150px;
        height: 215px;
    }
    .plans .plans__item .slider__options .slider__button{
        width: 45px;
        height: 45px;
    }
    .plans .plans__item:not(:last-child){
        margin-bottom: 30px;
    }
}

/*! Для планшета и телефона*/

@media screen and (max-width: 768px){
    .about{
        justify-content: center;
        margin-bottom: 30px;
    }
    .about .about__gallery{
        width: 250px;
        height: auto;
        align-items: center;
        border: none;
        margin-right: 0;
        padding-left: 0;
    }
    .about .about__gallery .gallery__title::before{
        display: none;
    }
    .plans{
        max-width: 500px;
        padding: 25px;
        position: static;
        margin-bottom: 15px;
    }
    .plans .plans__slider .slider__options{
        display: none;
    }
    .plans .slider__wrapper{
        margin-bottom: 0;
    }
    .links{
        max-width: 500px;
        padding: 0 30px;
        margin: 0 auto;
    }
    .about .about__description{
        width: 250px;
        border: none;
    }
    .about .about__gallery .gallery__main-photo img{
        width: 165px;
        height: 204px;
    }
    .about .about__gallery .gallery__slider{
        position: static;
    }
    .about .about__gallery .gallery__slider .slider__container .container__item .item__img{
        width: 50px;
        height: 50px;
    }
    .item__container{
        height: 50px;
        width: 50px;
    }
    .about .about__gallery .gallery__slider .slider__container{
        margin: 0 10px;
    }
    .about .about__gallery .gallery__slider .container__item{
        width: 165px;
        gap: 7.5px;
        position: relative;
        display: flex;
        justify-content: space-between;
        overflow-x: auto;
        scroll-snap-type: x;
        scroll-behavior: smooth;
        scrollbar-width: none;
        padding-bottom: 3px;
    }
    .about .about__gallery .gallery__slider .container__item::-webkit-scrollbar {
        width: 1px;
        height: 3px;
    }
    .about .about__gallery .gallery__slider .container__item::-webkit-scrollbar-track {
        background-color: #3c3c3c;
        border-radius: 100px;
    }
    .about .about__gallery .gallery__slider .container__item::-webkit-scrollbar-thumb {
        background-color: #ffbf40;
        border-radius: 100px;
    }
    .about .about__gallery .gallery__slider .slider__button{
        display: none;
    }
    .about .about__description .description__name{
        font-size: 20px;
        line-height: 25px;
        padding-right: 5px;
    }
    .about .about__description .description__job{
        font-size: 8px;
        line-height: 12px;
        margin-bottom: 10px;
    }
    .about .about__description .description__info{
        font-size: 6px;
        line-height: 8px;
        padding-right: 5px;
    }   
    .about .about__gallery .gallery__title{
        font-size: 10px;
        margin-bottom: 15px;
    }
    .plans .title{
        font-size: 12px;
        margin-bottom: 0;
    }
    .plans .list{
        padding-left: 10px;
    }
    .plans .list .list__item{
        font-size: 10px;
        line-height: 15px;
    }
    .wrapper__img img{
        height: 250px;
    }
    .links{
        padding-bottom: 15px;
    }
    .links .links__item .link .link__image{
        width: 35px;
        height: 35px;
    }
    .plans .plans__item .plans__slider .slider__wrapper .wrapper__img img{
        width: 305px;
        height: 215px;
    }
    .plans .plans__item .plans__slider .slider__wrapper .wrapper__img_small img{
        width: 150px;
        height: 215px;
    }
    .plans .plans__item .plans__slider .slider__wrapper::-webkit-scrollbar {
        width: 1px;
        height: 3px;
    }
    .plans .plans__item .plans__slider .slider__wrapper::-webkit-scrollbar-track {
        background-color: #3c3c3c;
        border-radius: 100px;
    }
    .plans .plans__item .plans__slider .slider__wrapper::-webkit-scrollbar-thumb {
        background-color: #ffbf40;
        border-radius: 100px;
    }
    .plans .plans__item .plans__slider .slider__wrapper {
        overflow-x: auto;
        scroll-snap-type: x;
        scroll-behavior: smooth;
        scrollbar-width: none;
        padding-bottom: 3px;
    }
    .plans .plans__item:not(:last-child){
        margin-bottom: 30px;
    }
    .plans .plans__item .slider__options{
        display: none;
    }
}